main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #202020;
}

.card {
  color: #cecece;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1150px){
  .card{
    width: 350px;
  }
}

@media (max-width: 500px){
  .card{
    width: 90%;
    margin: 5%;
  }

  .card h1{
    font-size: 32px;
  }
}

@media (max-width: 200px){
  .card{
    width: 95%;
    margin: 2.5%;
  }

  .card h1{
    font-size: 24px;
  }

  .quote-text, .quote-author{
    font-size: 11px;
  }

  button{
    font-size: 12px;
  }
}

h1 {
  font-size: 50px;
  margin-bottom: 7px;
}

button {
  width: 100%;
  margin-top: 7px;
  color: #202020;
  background: #cecece;
  border: #202020 1px solid;
  font-family: "Courier New", Courier, monospace;
}

button:active {
  transform: translateY(2px);
}

textarea{
  resize: vertical;
}

textarea, input{
  margin-bottom: 7px;
  background: #202020;
  color: #cecece;
  border: none;
  border-bottom: 2px solid #cecece;
    background: #cecece07;
    padding: 3px 0px;
}

textarea:focus, input:focus{
  outline: none;
  background: #cecece0a;
}

h2{
  margin-top: 25px;
}

form{
  display: flex;
  flex-direction: column;
}
